<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/css/styles.css" rel="stylesheet">   
</head>  

        <div class="topnav">
        <a class="#" href="/"><img src="static/css/marvel-logo.png"></a>
        <a class="#heroes" href="/heroes">Heroes</a>
       	<a class="#villains" href="/villains">Villains</a>
        <a class="active" href="/planets">Planets</a>
        <a class="#abilities" href="/abilities">Abilities</a>
        <a class="#teams" href="/teams">Teams</a>
        <a class="#heroes-teams" href="/heroes-teams">Heroes-Teams</a>
        <a class="#heroes-abilities" href="/heroes-abilities">Heroes-Abilities</a>
    </div>

{{#each foo}}
{{this}}
{{/each}}


<!-- Add New Planets -->
 <h3>Add new planet:</h3>
<form id="add_planet" action="/planets" method="post">
    Name: <input type="text" name="name"><br>
    Population size: <input type="number" name="populationSize""><br> 
    <input type="submit" value="Submit">
 </form>
 
 <br>

<!-- Current Planets --> 
 <div>
  <h3>Current planets:</h3>        
    <table>
    <thead> 
        <tr><th>Name</th> 
        <th>Population size</th>
    </tr></thead> 
    {{#each planets}} 
    <tbody><tr> 
            <td>{{name}}</td> 
            <td>{{populationSize}}</td> 
            <td><button onclick="deletePlanet({{id}})">Delete</button></td>
            <td><a href="/planets/{{id}}">Update</a></td>
        </tr>
        {{/each}}
        </tbody> 
</table> 
</div>
</html>
 
 