<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/css/styles.css" rel="stylesheet">  
</head>   

        <div class="topnav">
        <a class="#" href="/"><img src="static/css/marvel-logo.png"></a>
        <a class="#heroes" href="/heroes">Heroes</a>
       	<a class="#villains" href="/villains">Villains</a>
        <a class="#planets" href="/planets">Planets</a>
        <a class="#abilities" href="/abilities">Abilities</a>
        <a class="active" href="/teams">Teams</a>
        <a class="#heroes-teams" href="/heroes-teams">Heroes-Teams</a>
        <a class="#heroes-abilities" href="/heroes-abilities">Heroes-Abilities</a>
    </div>

{{#each foo}}
{{this}}
{{/each}}


<!-- Add New Teams -->
 <h3>Add new team:</h3>
<form id="add_team" action="/teams" method="post">
    Name: <input type="text" name="name"><br>
    Size: <input type="number" name="size"><br>
    <input type="submit" value="Submit">
 </form>

<!-- Current Teams --> 
<div>
   <h3>Current teams:</h3>
    <table>
    <thead> 
        <tr><th>Name</th> 
        <th>Size</th>
    </tr></thead> 
    {{#each teams}} 
    <tbody><tr> 
            <td>{{name}}</td> 
            <td>{{size}}</td> 
            <td><button onclick="deleteTeam({{id}})">Delete</button></td>
            <td><a href="/teams/{{id}}">Update</a></td>
        </tr>
        {{/each}}
        </tbody> 
</table> 
</div>
</htmL>



 